{{ define "main" }}
<main>
    <article>
        {{.Content}}
    </article>
    <h2>Latest Version</h2>
    {{ with .Site.Data.latest }}
    <a href="latest/{{ .file }}">
    <img style="vertical-align: middle; display: inline-block;" src="../svg/pdf-icon.svg">
    <span style="vertical-align: middle; display: inline-block;">
        {{ .revision }}
    </span>
    </a>
    {{ end }}
    {{/*  Loop through data files to generate list of previous versions  */}}
    {{ if .Site.Data.archive }}
    <h2>Previous Versions</h2>
    <ul>
    {{ range $revision, $info := sort .Site.Data.archive "date" "desc" }}
        <li>
            <a href="/pdfs/{{ $info.file }} ">
                {{ $info.date }} |
                {{ if $info.title }}
                    {{ $info.title }}
                {{ else }}
                    {{ $revision }}
                {{ end }}
            </a>
        </li>
    {{ end }}
    {{ end }}
    </ul>
</main>
{{ end }}
